<p>strentght index</p>
<select id="liftSel">
    <option value="Bench">Bench</option>
</select>
<table border="1">
    <thead>
        <tr>
            <th>Weight Class</th>
            <th>Lift</th>
            <th>Record</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>SHW</td>
            <td>Bench Press</td>
            <td>770</td>
        </tr>
    </tbody>
</table>